.secondary-logo {
    background-color: #FF9C7D;
    padding: 119px 0 161px;
    text-align: center;
    .secondary-logo__title {
        @include fonts(4.0625rem, 600, 75px);
    }
    .secondary-logo__text {
        display: block;
        padding: 29px 0 54px;
        @include fonts(1.25rem, 400, 30px);
    }
    .secondary-logo__link {
        @include btn; 
        margin: 0 auto;
        background-color: #000;
        &:hover {
            background-color: $secondary_color;
            transition: all 1s;
        }
    }
}